# The IP or hostname of one of the Cassandra nodes to discover the rest of the cluster.
# Can be overridden by CASSANDRA_CLUSTER_ENDPOINT environment variable.
cluster_endpoint: "IP_ADDRESS"

# Port on which the exporter will expose Prometheus metrics.
# Can be overridden by JMX_EXPORTER_PORT environment variable.
port: 9095

# The JMX port on the Cassandra nodes.
# Can be overridden by JMX_PORT environment variable.
jmx_port: 7199

# How often (in seconds) to scrape metrics from Cassandra nodes.
# Can be overridden by JMX_SCRAPE_DURATION environment variable.
scrape_duration: 60

# How often (in seconds) to check for new or removed nodes in the cluster.
# Can be overridden by NODE_SCAN_INTERVAL environment variable.
scan_new_nodes_interval: 120

# Maximum number of concurrent threads to use for scraping metrics from nodes.
# Increase for very large clusters if scrape_duration is too long.
# Decrease if CPU usage is too high.
# Can be overridden by MAX_WORKERS environment variable.
max_workers: 20

jmx_items:
  cluster_name:
    objectName: org.apache.cassandra.service:type=StorageService
    attribute: ClusterName
  blockedNTP:
    objectName: org.apache.cassandra.metrics:type=ThreadPools,path=transport,scope=Native-Transport-Requests,name=TotalBlockedTasks
    attribute: Count
  NTP:
    objectName: org.apache.cassandra.metrics:type=ThreadPools,path=transport,scope=Native-Transport-Requests,name=CompletedTasks
    attribute: Value
  mutation:
    objectName: org.apache.cassandra.metrics:type=ThreadPools,path=request,scope=MutationStage,name=CompletedTasks
    attribute: Value
  droppedMutation:
    objectName: org.apache.cassandra.metrics:type=DroppedMessage,scope=MUTATION,name=Dropped
    attribute: Count
  crossNodeDrop95Percentil:
    objectName: org.apache.cassandra.metrics:type=DroppedMessage,scope=MUTATION,name=CrossNodeDroppedLatency
    attribute: 95thPercentile
  penddingCompation:
    objectName: org.apache.cassandra.metrics:type=Compaction,name=PendingTasks
    attribute: Value
  TotalDiskSpaceUsed:
    objectName: org.apache.cassandra.metrics:type=Table,name=TotalDiskSpaceUsed
    attribute: Value
  SystemCpuLoad:
    objectName: java.lang:type=OperatingSystem
    attribute: SystemCpuLoad
  UpEndpoint:
    objectName: org.apache.cassandra.net:type=FailureDetector
    attribute: UpEndpointCount
  DownEndpoint:
    objectName: org.apache.cassandra.net:type=FailureDetector
    attribute: DownEndpointCount
  LiveSSTablesCount:
    objectName: org.apache.cassandra.metrics:type=Table,name=LiveSSTableCount
    attribute: Value
  readStageCount:
    objectName: org.apache.cassandra.metrics:type=ThreadPools,path=request,scope=ReadStage,name=CompletedTasks
    attribute: Value
  maxPartitionSize:
    objectName: org.apache.cassandra.metrics:type=Table,name=MaxPartitionSize
    attribute: Value
  uptime:
    objectName: java.lang:type=Runtime
    attribute: Uptime
  penddingFlushes:
    objectName: org.apache.cassandra.metrics:type=Table,name=PendingFlushes
    attribute: Value
